# Estudo para Desafio Escale

Este <i>notebook</i> apresenta uma <i>storytelling</i> do estudo realizado, descrevendo  um passo a passo de como foram utilizadas as tecnologia Spark e Python para a resolução do desafio propospo pela Escale (https://escaletech.github.io/dataplatform/data-engineer-test).

Para este trabalho foi considerado apenas um dataset (part-00000.json.gz). 

Um outro notebook será construído para o processamento de todos os arquivos para atender o desafio solicitado.

No primeiro momento sera instalado e importadas bibliotecas do Spark

In [1]:
try:
    !pip install pyspark=="2.4.5" --quiet
    !pip install pandas=="1.0.4" --quiet
except:
    print("Running throw py file.")

In [2]:
from pyspark import SparkContext as sc
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql import Window
from pyspark import SparkFiles
from pyspark.sql.types import StringType, FloatType
import pyspark
import json
import pandas as pd
import numpy as np

Criação de uma sessão Spark

In [3]:
spark = SparkSession\
        .builder\
        .appName("Desafio Data Engineer Escale - Fabio Kfouri")\
        .getOrCreate()
spark

Para otimizar a resolução, foram realizados downloads dos datasets, esta lógica é para identificar se este notebook esta rodando máquina do autor, caso positivo, utilizará o dataset local, do contrário, utilizará o dataset da núvem.

In [4]:
import os

dataPath = 'https://d3l36jjwr70u5l.cloudfront.net/data-engineer-test/'
outPath = 's3://data-sprints-fk/output/'

if 'E:\\' in os.getcwd() and 'dataEngineerTest_Escale' in os.getcwd():
    dataPath = os.getcwd() + "/data/"
    outPath = os.getcwd() + "/output/"


print(dataPath)
print(outPath)

E:\Projetos\Jobs\dataEngineerTest_Escale/data/
E:\Projetos\Jobs\dataEngineerTest_Escale/output/

## Leitura do primeiro dataset
Os códigos seguintes tem o objetivo apenas de conhecer o dataset:
- vizualizar alguns registros
- quantidade de registros
- observar o Schema do datase

In [5]:
df0 = spark.read.json(dataPath + 'part-0000' + str(0) +'.json.gz')
df0.show(3)

+--------------------+--------------+----------------+---------------------+--------+---+---------+--------+-------+
|        anonymous_id|browser_family|   device_family|device_sent_timestamp|   event|  n|os_family|platform|version|
+--------------------+--------------+----------------+---------------------+--------+---+---------+--------+-------+
|46074eab-28f7-483...| Chrome Mobile|Samsung SM-A105M|        1592616733778|pageview| 82|  Android|     web|    1.0|
|24c1f50c-c192-4f8...| Chrome Mobile|Samsung SM-A105M|        1592615846912|pageview| 82|  Android|     web|    1.0|
|2c7ed100-3e30-4c1...| Chrome Mobile|Samsung SM-A105M|        1592624340522|pageview| 82|  Android|     web|    1.0|
+--------------------+--------------+----------------+---------------------+--------+---+---------+--------+-------+
only showing top 3 rows

In [6]:
df0.count()

10235120

In [7]:
df0.printSchema()

root
 |-- anonymous_id: string (nullable = true)
 |-- browser_family: string (nullable = true)
 |-- device_family: string (nullable = true)
 |-- device_sent_timestamp: long (nullable = true)
 |-- event: string (nullable = true)
 |-- n: long (nullable = true)
 |-- os_family: string (nullable = true)
 |-- platform: string (nullable = true)
 |-- version: string (nullable = true)

## Construção do ClickStream

O código seguinte é para identificar os usuários que mais utilizaram o site. Esta pesquisa é importante para poder criar o <b>Sessionamento</b>.

In [8]:
df0.groupBy('anonymous_id').count().sort(F.col("count").desc()).show(10,False)

+------------------------------------+-----+
|anonymous_id                        |count|
+------------------------------------+-----+
|ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|293  |
|7d0f437b-23e1-407e-8a08-6fb4434bc1f7|3    |
|e0ad55f0-29de-4c01-8da1-d37eb2f3ad4c|3    |
|05e15e00-dc0d-4d3d-b40e-247fe5f887bb|2    |
|9bf50c34-836a-4f03-b9da-bd90d84c8cd3|2    |
|b70140df-d9c2-49eb-9eb1-6ae9ab77fb48|2    |
|b08777e1-3bd8-4cfc-9415-a830b0764c77|2    |
|34d49ea1-7c32-4d6c-a3df-40455e509ec7|2    |
|88222d44-f5da-4710-98ef-89c39b635a9d|2    |
|6f38a9bf-fcb8-4e08-bbcd-7f7b4fc5a258|2    |
+------------------------------------+-----+
only showing top 10 rows

Identificado um <b>anonymous_id</b> com uso intensivo do site, que será utilizado para a modelagem do sessionamento.

In [9]:
df0 = df0.filter('anonymous_id = "ae59b395-31ac-40e3-b7c0-3d97d00ac6cc"').sort(F.col("device_sent_timestamp"))
df0.show()

+--------------------+--------------+-------------+---------------------+--------+---+---------+--------+-------+
|        anonymous_id|browser_family|device_family|device_sent_timestamp|   event|  n|os_family|platform|version|
+--------------------+--------------+-------------+---------------------+--------+---+---------+--------+-------+
|ae59b395-31ac-40e...|     Googlebot|       Spider|        1591321597456|pageview| 95|    Other|     web|    1.0|
|ae59b395-31ac-40e...|     Googlebot|       Spider|        1591414551868|pageview| 69|    Other|     web|    1.0|
|ae59b395-31ac-40e...|     Googlebot|       Spider|        1591673040878|pageview| 73|    Other|     web|    1.0|
|ae59b395-31ac-40e...| AdsBot-Google|       Spider|        1591733995529|pageview| 64|    Other|     web|    1.0|
|ae59b395-31ac-40e...|     Googlebot|       Spider|        1591756611249|pageview| 43|    Other|     web|    1.0|
|ae59b395-31ac-40e...|     Googlebot|       Spider|        1592014689622|pageview| 45|    Other|     web|    1.0|
|ae59b395-31ac-40e...|     Googlebot|       Spider|        1592102553331|pageview| 55|  Android|     web|    1.0|
|ae59b395-31ac-40e...|     Googlebot|       Spider|        1592273900262|pageview| 73|    Other|     web|    1.0|
|ae59b395-31ac-40e...|     Googlebot|       Spider|        1592527400266|pageview| 94|    Other|     web|    1.0|
|ae59b395-31ac-40e...|     Googlebot|       Spider|        1592537432075|pageview| 55|    Other|     web|    1.0|
|ae59b395-31ac-40e...|     Googlebot|       Spider|        1592617192847|pageview| 78|  Android|     web|    1.0|
|ae59b395-31ac-40e...|     Googlebot|       Spider|        1592702379390|pageview| 89|    Other|     web|    1.0|
|ae59b395-31ac-40e...|     Googlebot|       Spider|        1592705588620|pageview| 45|    Other|     web|    1.0|
|ae59b395-31ac-40e...|     Googlebot|       Spider|        1592705833529|pageview| 69|    Other|     web|    1.0|
|ae59b395-31ac-40e...|     Googlebot|       Spider|        1592708051282|pageview| 44|  Android|     web|    1.0|
|ae59b395-31ac-40e...|     Googlebot|       Spider|        1592708655174|pageview| 50|  Android|     web|    1.0|
|ae59b395-31ac-40e...|     Googlebot|       Spider|        1592714671326|pageview| 96|  Android|     web|    1.0|
|ae59b395-31ac-40e...|     Googlebot|       Spider|        1592787487408|pageview| 80|  Android|     web|    1.0|
|ae59b395-31ac-40e...|     Googlebot|       Spider|        1592790085073|pageview| 76|  Android|     web|    1.0|
|ae59b395-31ac-40e...|     Googlebot|       Spider|        1592791003354|pageview| 94|    Other|     web|    1.0|
+--------------------+--------------+-------------+---------------------+--------+---+---------+--------+-------+
only showing top 20 rows

Para calculo do tempo de sessão será utilizado a função <b>LAG()</b> que tem por objetivo trazer no registro corrente o dado de timestamp do registro anterior.

O autor assumiu como premissa não declarada para definir uma sessão, que além do tempo limite de 30 minutos desde a última utilização, que uma sessão precisaria considerar o <b>device_family</b> e <b>os_family</b>.

Ou seja, mesmo que não tenha excedido o tempo limite de 30 minutos, mas se for caracterizado que houve uma mudança de device_family ou os_family, trata-se de uma sessão nova.

In [10]:
overCategory = Window.partitionBy('anonymous_id','device_family','os_family','browser_family')\
                    .orderBy('anonymous_id','device_family','os_family','browser_family','device_sent_timestamp')

In [11]:
dftemp = df0.withColumn("lag", F.lag('device_sent_timestamp', 1).over(overCategory))
dftemp.show(5)

+--------------------+--------------+-------------+---------------------+--------+---+---------+--------+-------+-------------+
|        anonymous_id|browser_family|device_family|device_sent_timestamp|   event|  n|os_family|platform|version|          lag|
+--------------------+--------------+-------------+---------------------+--------+---+---------+--------+-------+-------------+
|ae59b395-31ac-40e...|     Googlebot|       Spider|        1592102553331|pageview| 55|  Android|     web|    1.0|         null|
|ae59b395-31ac-40e...|     Googlebot|       Spider|        1592617192847|pageview| 78|  Android|     web|    1.0|1592102553331|
|ae59b395-31ac-40e...|     Googlebot|       Spider|        1592708051282|pageview| 44|  Android|     web|    1.0|1592617192847|
|ae59b395-31ac-40e...|     Googlebot|       Spider|        1592708655174|pageview| 50|  Android|     web|    1.0|1592708051282|
|ae59b395-31ac-40e...|     Googlebot|       Spider|        1592714671326|pageview| 96|  Android|     web|    1.0|1592708655174|
+--------------------+--------------+-------------+---------------------+--------+---+---------+--------+-------+-------------+
only showing top 5 rows

Identificado que o tempo esta no formato <b>epoch</b>. 

A primeira intuição do autor foi de converter para o formato de data, porém, logo o autor percebeu que poderia usar o própria valor numérico para identificar a tolerancia de 30 minutos.

Para isso, foi convertido o tempo de 30 minutos em milisegundos para o uso simplificado na identificação da sessão.

In [12]:
time_limit = (30*60)*1000
print(time_limit)

1800000

In [13]:
dftemp = dftemp.withColumn('delta_seg', (F.col('device_sent_timestamp') - F.col('lag'))/1000)\
        .withColumn('same_section', (F.col('device_sent_timestamp') - F.col('lag')) < time_limit) \
        .withColumn('event_time', (F.col('device_sent_timestamp')/1000).cast('timestamp'))

dftemp.select('device_family','os_family','browser_family','device_sent_timestamp','same_section','event_time')\
        .show(20, False)

+-------------+---------+--------------+---------------------+------------+-----------------------+
|device_family|os_family|browser_family|device_sent_timestamp|same_section|event_time             |
+-------------+---------+--------------+---------------------+------------+-----------------------+
|Spider       |Android  |Googlebot     |1592102553331        |null        |2020-06-13 23:42:33.331|
|Spider       |Android  |Googlebot     |1592617192847        |false       |2020-06-19 22:39:52.847|
|Spider       |Android  |Googlebot     |1592708051282        |false       |2020-06-20 23:54:11.282|
|Spider       |Android  |Googlebot     |1592708655174        |true        |2020-06-21 00:04:15.174|
|Spider       |Android  |Googlebot     |1592714671326        |false       |2020-06-21 01:44:31.326|
|Spider       |Android  |Googlebot     |1592787487408        |false       |2020-06-21 21:58:07.408|
|Spider       |Android  |Googlebot     |1592790085073        |false       |2020-06-21 22:41:25.073|
|Spider       |Android  |Googlebot     |1592791341666        |true        |2020-06-21 23:02:21.666|
|Spider       |Android  |Googlebot     |1592792168405        |true        |2020-06-21 23:16:08.405|
|Spider       |Android  |Googlebot     |1592793174105        |true        |2020-06-21 23:32:54.105|
|Spider       |Android  |Googlebot     |1592794278235        |true        |2020-06-21 23:51:18.235|
|Spider       |Android  |Googlebot     |1592794467204        |true        |2020-06-21 23:54:27.204|
|Spider       |Android  |Googlebot     |1592795619903        |true        |2020-06-22 00:13:39.903|
|Spider       |Android  |Googlebot     |1592797008561        |true        |2020-06-22 00:36:48.561|
|Spider       |Android  |Googlebot     |1592797396987        |true        |2020-06-22 00:43:16.987|
|Spider       |Android  |Googlebot     |1592798364481        |true        |2020-06-22 00:59:24.481|
|Spider       |Android  |Googlebot     |1592816666752        |false       |2020-06-22 06:04:26.752|
|Spider       |Android  |Googlebot     |1592872366372        |false       |2020-06-22 21:32:46.372|
|Spider       |Android  |Googlebot     |1592873831814        |true        |2020-06-22 21:57:11.814|
|Spider       |Android  |Googlebot     |1592876229371        |false       |2020-06-22 22:37:09.371|
+-------------+---------+--------------+---------------------+------------+-----------------------+
only showing top 20 rows

Devido a demora de processamento na maquina do autor, optou-se por gerar um dataset menor para analise.

In [14]:
dftemp.coalesce(1).write.format("json").save("analise.json")

In [15]:
dftemp = spark.read.json(os.getcwd() + '/analise.json')

Criacão de uma view chamada clickStream.

In [16]:
dftemp.createOrReplaceTempView("raw_table")

Pimeiro passo foi possível observar as sessoes abertas e fazer um especie de <i>smoke test</i>.

In [17]:
df_sessioned = spark.sql("""

      SELECT anonymous_id, browser_family, device_family, device_sent_timestamp, event, event_time, n, os_family, --
             platform, nvl(same_section,false) same_section, version,
             case when nvl(same_section,false) = false then
                 0
             else
                delta_seg
             end delta_seg,
             case when nvl(same_section,false) = false then
                'session_' || ROW_NUMBER() OVER (PARTITION BY anonymous_id,nvl(same_section,false) ORDER BY device_sent_timestamp )
             else
                null
             end
             as partial_session
        FROM raw_table t --
        order by anonymous_id, device_sent_timestamp 
""")
df_sessioned.select('device_family','device_sent_timestamp','delta_seg','same_section','event_time','partial_session').show(30, False)

+-------------+---------------------+---------+------------+-----------------------------+---------------+
|device_family|device_sent_timestamp|delta_seg|same_section|event_time                   |partial_session|
+-------------+---------------------+---------+------------+-----------------------------+---------------+
|Spider       |1591321597456        |0.0      |false       |2020-06-04T22:46:37.456-03:00|session_1      |
|Spider       |1591414551868        |0.0      |false       |2020-06-06T00:35:51.868-03:00|session_2      |
|Spider       |1591673040878        |0.0      |false       |2020-06-09T00:24:00.878-03:00|session_3      |
|Spider       |1591733995529        |0.0      |false       |2020-06-09T17:19:55.529-03:00|session_4      |
|Spider       |1591756611249        |0.0      |false       |2020-06-09T23:36:51.249-03:00|session_5      |
|Spider       |1592014689622        |0.0      |false       |2020-06-12T23:18:09.622-03:00|session_6      |
|Spider       |1592102553331        |0.0      |false       |2020-06-13T23:42:33.331-03:00|session_7      |
|Spider       |1592273900262        |0.0      |false       |2020-06-15T23:18:20.262-03:00|session_8      |
|Spider       |1592527400266        |0.0      |false       |2020-06-18T21:43:20.266-03:00|session_9      |
|Spider       |1592537432075        |0.0      |false       |2020-06-19T00:30:32.075-03:00|session_10     |
|Spider       |1592617192847        |0.0      |false       |2020-06-19T22:39:52.847-03:00|session_11     |
|Spider       |1592702379390        |0.0      |false       |2020-06-20T22:19:39.390-03:00|session_12     |
|Spider       |1592705588620        |0.0      |false       |2020-06-20T23:13:08.620-03:00|session_13     |
|Spider       |1592705833529        |244.909  |true        |2020-06-20T23:17:13.529-03:00|null           |
|Spider       |1592708051282        |0.0      |false       |2020-06-20T23:54:11.282-03:00|session_14     |
|Spider       |1592708655174        |603.892  |true        |2020-06-21T00:04:15.174-03:00|null           |
|Spider       |1592714671326        |0.0      |false       |2020-06-21T01:44:31.326-03:00|session_15     |
|Spider       |1592787487408        |0.0      |false       |2020-06-21T21:58:07.408-03:00|session_16     |
|Spider       |1592790085073        |0.0      |false       |2020-06-21T22:41:25.073-03:00|session_17     |
|Spider       |1592791003354        |0.0      |false       |2020-06-21T22:56:43.354-03:00|session_18     |
|Spider       |1592791341666        |1256.593 |true        |2020-06-21T23:02:21.666-03:00|null           |
|Spider       |1592791627174        |623.82   |true        |2020-06-21T23:07:07.174-03:00|null           |
|Spider       |1592792149943        |522.769  |true        |2020-06-21T23:15:49.943-03:00|null           |
|Spider       |1592792168405        |826.739  |true        |2020-06-21T23:16:08.405-03:00|null           |
|Spider       |1592792949014        |799.071  |true        |2020-06-21T23:29:09.014-03:00|null           |
|Spider       |1592793097630        |148.616  |true        |2020-06-21T23:31:37.630-03:00|null           |
|Spider       |1592793174105        |1005.7   |true        |2020-06-21T23:32:54.105-03:00|null           |
|Spider       |1592793230114        |132.484  |true        |2020-06-21T23:33:50.114-03:00|null           |
|Spider       |1592794162363        |932.249  |true        |2020-06-21T23:49:22.363-03:00|null           |
|Spider       |1592794278235        |1104.13  |true        |2020-06-21T23:51:18.235-03:00|null           |
+-------------+---------------------+---------+------------+-----------------------------+---------------+
only showing top 30 rows

In [18]:
df_sessioned = spark.sql("""
with temp as (--
      SELECT anonymous_id, browser_family, device_family, device_sent_timestamp, event, event_time, n, os_family, --
             platform, nvl(same_section,false) same_section, version,
             case when nvl(same_section,false) = false then
                 0
             else
                delta_seg
             end delta_seg,             
             case when nvl(same_section,false) = false then
             'session_' || ROW_NUMBER() OVER (PARTITION BY anonymous_id,nvl(same_section,false) ORDER BY device_sent_timestamp )
             else
              null
             end
             as partial_session
        FROM raw_table t --
), table_section_id as (--
    select anonymous_id, browser_family, delta_seg, device_family, device_sent_timestamp, event, event_time, n, os_family, --
             platform, nvl(same_section,false) same_section, version,
             LAST_VALUE(partial_session,True) OVER (PARTITION BY anonymous_id ORDER BY device_sent_timestamp ) || '_' || anonymous_id session_id
    from temp t
)
select * from table_section_id
order by anonymous_id, device_sent_timestamp 
""")
#df_sessioned.show()

Neste ponto temos efetivamente um ClickStream

In [19]:
df_sessioned.createOrReplaceTempView("clickstream")

In [20]:
spark.catalog.dropTempView('raw_table')

## Desafio 1

Calcular a quantidade total de sessões únicas por arquivo do conjunto de dados e apresentar no formato JSON.

Neste passo, foi realizado o filtro para desconsiderar as sessoes abertas para descobrir o total de sessoes únicas.

In [21]:
df_question_1 = spark.sql("""
select * from clickstream
where same_section = false
order by anonymous_id, device_sent_timestamp 
  
""")
df_question_1.select('device_family','device_sent_timestamp','same_section','event_time','session_id').show(30, False)

+-------------+---------------------+------------+-----------------------------+-----------------------------------------------+
|device_family|device_sent_timestamp|same_section|event_time                   |session_id                                     |
+-------------+---------------------+------------+-----------------------------+-----------------------------------------------+
|Spider       |1591321597456        |false       |2020-06-04T22:46:37.456-03:00|session_1_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc |
|Spider       |1591414551868        |false       |2020-06-06T00:35:51.868-03:00|session_2_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc |
|Spider       |1591673040878        |false       |2020-06-09T00:24:00.878-03:00|session_3_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc |
|Spider       |1591733995529        |false       |2020-06-09T17:19:55.529-03:00|session_4_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc |
|Spider       |1591756611249        |false       |2020-06-09T23:36:51.249-03:00|session_5_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc |
|Spider       |1592014689622        |false       |2020-06-12T23:18:09.622-03:00|session_6_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc |
|Spider       |1592102553331        |false       |2020-06-13T23:42:33.331-03:00|session_7_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc |
|Spider       |1592273900262        |false       |2020-06-15T23:18:20.262-03:00|session_8_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc |
|Spider       |1592527400266        |false       |2020-06-18T21:43:20.266-03:00|session_9_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc |
|Spider       |1592537432075        |false       |2020-06-19T00:30:32.075-03:00|session_10_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|
|Spider       |1592617192847        |false       |2020-06-19T22:39:52.847-03:00|session_11_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|
|Spider       |1592702379390        |false       |2020-06-20T22:19:39.390-03:00|session_12_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|
|Spider       |1592705588620        |false       |2020-06-20T23:13:08.620-03:00|session_13_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|
|Spider       |1592708051282        |false       |2020-06-20T23:54:11.282-03:00|session_14_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|
|Spider       |1592714671326        |false       |2020-06-21T01:44:31.326-03:00|session_15_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|
|Spider       |1592787487408        |false       |2020-06-21T21:58:07.408-03:00|session_16_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|
|Spider       |1592790085073        |false       |2020-06-21T22:41:25.073-03:00|session_17_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|
|Spider       |1592791003354        |false       |2020-06-21T22:56:43.354-03:00|session_18_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|
|Spider       |1592797056222        |false       |2020-06-22T00:37:36.222-03:00|session_19_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|
|Spider       |1592816666752        |false       |2020-06-22T06:04:26.752-03:00|session_20_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|
|Spider       |1592872245344        |false       |2020-06-22T21:30:45.344-03:00|session_21_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|
|Spider       |1592872366372        |false       |2020-06-22T21:32:46.372-03:00|session_22_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|
|Spider       |1592874179244        |false       |2020-06-22T22:02:59.244-03:00|session_23_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|
|Spider       |1592876229371        |false       |2020-06-22T22:37:09.371-03:00|session_24_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|
|Spider       |1592876750679        |false       |2020-06-22T22:45:50.679-03:00|session_25_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|
|Spider       |1592881401672        |false       |2020-06-23T00:03:21.672-03:00|session_26_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|
|Spider       |1592887081134        |false       |2020-06-23T01:38:01.134-03:00|session_27_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|
|Spider       |1592957469650        |false       |2020-06-23T21:11:09.650-03:00|session_28_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|
|Spider       |1592959722787        |false       |2020-06-23T21:48:42.787-03:00|session_29_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|
|Spider       |1592961864669        |false       |2020-06-23T22:24:24.669-03:00|session_30_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|
+-------------+---------------------+------------+-----------------------------+-----------------------------------------------+
only showing top 30 rows

No terceiro e passo foi calculada a quantidade de sessoes abertas, neste caso, para um único usuário.

In [22]:
df_question_1 = spark.sql("""
SELECT /*anonymous_id,*/ COUNT(session_id)  qtd_session
FROM clickstream
where same_section = false
--group by anonymous_id
""")
df_question_1.show()

+-----------+
|qtd_session|
+-----------+
|         71|
+-----------+

# Desafio 2
Calcular a quantidade de sessões únicas que ocorreram em cada Browser, Sistema Operacional e Dispositivo dentro de todo o conjunto de dados.

No primeiro passo foi identificar da quantidade por <b>browser_family</b>, <b>os_family</b> e <b>device_family</b>.

In [23]:
spark.sql("""

SELECT browser_family, COUNT(session_id)  qtd_session
FROM clickstream
where same_section = false
group by browser_family --

""").show()

+--------------+-----------+
|browser_family|qtd_session|
+--------------+-----------+
| AdsBot-Google|          1|
|     Googlebot|         70|
+--------------+-----------+

In [24]:
spark.sql("""
SELECT os_family, COUNT(session_id)  qtd_session
FROM clickstream
where same_section = false
group by os_family
""").show()

+---------+-----------+
|os_family|qtd_session|
+---------+-----------+
|    Other|         39|
|  Android|         32|
+---------+-----------+

In [25]:
spark.sql("""
SELECT * --'device_family' what, device_family ref, COUNT(session_id)  qtd_session
  FROM clickstream
 where same_section = false
 --group by device_family
""").show()

+--------------------+--------------+---------+-------------+---------------------+--------+--------------------+---+---------+--------+------------+-------+--------------------+
|        anonymous_id|browser_family|delta_seg|device_family|device_sent_timestamp|   event|          event_time|  n|os_family|platform|same_section|version|          session_id|
+--------------------+--------------+---------+-------------+---------------------+--------+--------------------+---+---------+--------+------------+-------+--------------------+
|ae59b395-31ac-40e...|     Googlebot|      0.0|       Spider|        1591321597456|pageview|2020-06-04T22:46:...| 95|    Other|     web|       false|    1.0|session_1_ae59b39...|
|ae59b395-31ac-40e...|     Googlebot|      0.0|       Spider|        1591414551868|pageview|2020-06-06T00:35:...| 69|    Other|     web|       false|    1.0|session_2_ae59b39...|
|ae59b395-31ac-40e...|     Googlebot|      0.0|       Spider|        1591673040878|pageview|2020-06-09T00:24:...| 73|    Other|     web|       false|    1.0|session_3_ae59b39...|
|ae59b395-31ac-40e...| AdsBot-Google|      0.0|       Spider|        1591733995529|pageview|2020-06-09T17:19:...| 64|    Other|     web|       false|    1.0|session_4_ae59b39...|
|ae59b395-31ac-40e...|     Googlebot|      0.0|       Spider|        1591756611249|pageview|2020-06-09T23:36:...| 43|    Other|     web|       false|    1.0|session_5_ae59b39...|
|ae59b395-31ac-40e...|     Googlebot|      0.0|       Spider|        1592014689622|pageview|2020-06-12T23:18:...| 45|    Other|     web|       false|    1.0|session_6_ae59b39...|
|ae59b395-31ac-40e...|     Googlebot|      0.0|       Spider|        1592102553331|pageview|2020-06-13T23:42:...| 55|  Android|     web|       false|    1.0|session_7_ae59b39...|
|ae59b395-31ac-40e...|     Googlebot|      0.0|       Spider|        1592273900262|pageview|2020-06-15T23:18:...| 73|    Other|     web|       false|    1.0|session_8_ae59b39...|
|ae59b395-31ac-40e...|     Googlebot|      0.0|       Spider|        1592527400266|pageview|2020-06-18T21:43:...| 94|    Other|     web|       false|    1.0|session_9_ae59b39...|
|ae59b395-31ac-40e...|     Googlebot|      0.0|       Spider|        1592537432075|pageview|2020-06-19T00:30:...| 55|    Other|     web|       false|    1.0|session_10_ae59b3...|
|ae59b395-31ac-40e...|     Googlebot|      0.0|       Spider|        1592617192847|pageview|2020-06-19T22:39:...| 78|  Android|     web|       false|    1.0|session_11_ae59b3...|
|ae59b395-31ac-40e...|     Googlebot|      0.0|       Spider|        1592702379390|pageview|2020-06-20T22:19:...| 89|    Other|     web|       false|    1.0|session_12_ae59b3...|
|ae59b395-31ac-40e...|     Googlebot|      0.0|       Spider|        1592705588620|pageview|2020-06-20T23:13:...| 45|    Other|     web|       false|    1.0|session_13_ae59b3...|
|ae59b395-31ac-40e...|     Googlebot|      0.0|       Spider|        1592708051282|pageview|2020-06-20T23:54:...| 44|  Android|     web|       false|    1.0|session_14_ae59b3...|
|ae59b395-31ac-40e...|     Googlebot|      0.0|       Spider|        1592714671326|pageview|2020-06-21T01:44:...| 96|  Android|     web|       false|    1.0|session_15_ae59b3...|
|ae59b395-31ac-40e...|     Googlebot|      0.0|       Spider|        1592787487408|pageview|2020-06-21T21:58:...| 80|  Android|     web|       false|    1.0|session_16_ae59b3...|
|ae59b395-31ac-40e...|     Googlebot|      0.0|       Spider|        1592790085073|pageview|2020-06-21T22:41:...| 76|  Android|     web|       false|    1.0|session_17_ae59b3...|
|ae59b395-31ac-40e...|     Googlebot|      0.0|       Spider|        1592791003354|pageview|2020-06-21T22:56:...| 94|    Other|     web|       false|    1.0|session_18_ae59b3...|
|ae59b395-31ac-40e...|     Googlebot|      0.0|       Spider|        1592797056222|pageview|2020-06-22T00:37:...| 58|    Other|     web|       false|    1.0|session_19_ae59b3...|
|ae59b395-31ac-40e...|     Googlebot|      0.0|       Spider|        1592816666752|pageview|2020-06-22T06:04:...| 62|  Android|     web|       false|    1.0|session_20_ae59b3...|
+--------------------+--------------+---------+-------------+---------------------+--------+--------------------+---+---------+--------+------------+-------+--------------------+
only showing top 20 rows

Para o segundo passo, foram considerados algumas hipóteses:

<b>Hipótese 1</b> foi agrupar todos os resultados ja agregados pelo SQL.

In [26]:
df_question_2 = spark.sql("""
with table_temp as (--
    SELECT *
    FROM clickstream
    where same_section = false
), 
table_union as (--
    SELECT 'device_family' what, device_family ref, COUNT(session_id)  qtd_session
      FROM table_temp
     group by device_family
    union
    SELECT 'os_family' what, os_family ref, COUNT(session_id)  qtd_session
      FROM table_temp
    group by os_family
    union
    SELECT 'browser_family' what, browser_family ref, COUNT(session_id)  qtd_session
      FROM table_temp
     group by browser_family --
),
table_collection as (--
    select what, nvl(ref, 'Not Identified') || ':' || qtd_session collection 
    from table_union
    order by what, ref--
)
select what, array_join(collect_list(trim(collection)),',')  collection
from table_collection
group by what
""")

#df_question_2.show(10, False)

In [27]:
dados = df_question_2.toPandas()

In [28]:
dados.head()

             what                    collection
0   device_family                     Spider:71
1       os_family           Android:32,Other:39
2  browser_family  AdsBot-Google:1,Googlebot:70

In [29]:
question2a = {}
print(question2a)

{}

In [30]:

for index, row in dados.iterrows():
    items = str(row["collection"]).split(',')

    
    if not row["what"] in question2a:
        question2a[row["what"]] = {}
    
        
    for item in items:
        element = str(item).split(':')
        if not element[0] in question2a[row["what"]]:
            question2a[row["what"]][element[0]] = 0
        
        if len(element) > 1:
            question2a[row["what"]][element[0]] = float(element[1]) + question2a[row["what"]][element[0]]
        else:
            question2a[row["what"]][element[0]] = float(0) + question2a[row["what"]][element[0]]

print(question2a)

{'device_family': {'Spider': 71.0}, 'os_family': {'Android': 32.0, 'Other': 39.0}, 'browser_family': {'AdsBot-Google': 1.0, 'Googlebot': 70.0}}

<b>Hipótese 2</b> foi de agrupar/agregar através de funções do PySpark. Semelhante à anterior, porém não foi solucionado tudo dentro da SQL.

In [31]:
df_question_2 = spark.sql("""
with table_temp as (--
    SELECT *
    FROM clickstream
    where same_section = false
), 
table_union as (--
    SELECT 'device_family' what, device_family ref, COUNT(session_id)  qtd_session
      FROM table_temp
     group by device_family
    union
    SELECT 'os_family' what, os_family ref, COUNT(session_id)  qtd_session
      FROM table_temp
    group by os_family
    union
    SELECT 'browser_family' what, browser_family ref, COUNT(session_id)  qtd_session
      FROM table_temp
     group by browser_family --
)
select what, ref || ':' || qtd_session value 
from table_union
order by what, ref
""")
df_question_2.show()

+--------------+---------------+
|          what|          value|
+--------------+---------------+
|browser_family|AdsBot-Google:1|
|browser_family|   Googlebot:70|
| device_family|      Spider:71|
|     os_family|     Android:32|
|     os_family|       Other:39|
+--------------+---------------+

No passo seguinte foi de concatenar a coluna 'ref' com 'qtd_session' em um formato json e agrupar por collecao.

In [33]:
d2 = df_question_2.groupBy('what').agg(F.array_join(F.collect_list('value'), delimiter=',').alias('collection'))
d2.show(10, False)

+--------------+----------------------------+
|what          |collection                  |
+--------------+----------------------------+
|device_family |Spider:71                   |
|os_family     |Android:32,Other:39         |
|browser_family|AdsBot-Google:1,Googlebot:70|
+--------------+----------------------------+

Finalmente construir a saida Json do desafio

In [34]:
question2 = {}
for row in d2.collect():
    items = str(row["collection"]).replace('"','').split(',')
    obj = {}
    for item in items:
        element = str(item).split(':')
        obj[element[0]] = float(element[1])       
    
    question2[row["what"]] = obj

print(question2)

{'device_family': {'Spider': 71.0}, 'os_family': {'Android': 32.0, 'Other': 39.0}, 'browser_family': {'AdsBot-Google': 1.0, 'Googlebot': 70.0}}

In [35]:
print(json.dumps(question2))

{"device_family": {"Spider": 71.0}, "os_family": {"Android": 32.0, "Other": 39.0}, "browser_family": {"AdsBot-Google": 1.0, "Googlebot": 70.0}}

## Desafio 3

Calcular a mediana da duração (em segundos) entre todas sessões únicas para cada segmento.

Neste exemplo selecionado uma sessao com alguns eventos.

In [36]:
ddf = spark.sql("""

SELECT session_id, delta_seg                
FROM clickstream
where session_id = 'session_31_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc'
group by session_id, delta_seg
order by session_id, delta_seg

""")
ddf.show(300, False)

+-----------------------------------------------+---------+
|session_id                                     |delta_seg|
+-----------------------------------------------+---------+
|session_31_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|0.0      |
|session_31_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|8.765    |
|session_31_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|25.323   |
|session_31_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|53.704   |
|session_31_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|55.781   |
|session_31_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|73.586   |
|session_31_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|106.912  |
|session_31_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|114.469  |
|session_31_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|187.572  |
|session_31_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|191.015  |
|session_31_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|270.797  |
|session_31_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|383.638  |
|session_31_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|401.457  |
|session_31_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|462.134  |
|session_31_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|495.92   |
|session_31_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|538.204  |
|session_31_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|552.863  |
|session_31_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|553.096  |
|session_31_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|610.977  |
|session_31_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|695.696  |
|session_31_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|813.874  |
|session_31_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|819.68   |
|session_31_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|849.184  |
|session_31_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|952.807  |
|session_31_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|958.482  |
+-----------------------------------------------+---------+

<b>Hipótese 1</b>, usando a função approxQuantile.

In [37]:
ddf.approxQuantile("delta_seg", [0.5], 0.25)

[462.134]

<b>Hipótese 2</b>, usando uma função UDF para aplicação da biblioteca Numpy.
Descartado por ser um processamento muito longo.

In [38]:
#https://stackoverflow.com/questions/38743476/how-to-find-the-median-in-apache-spark-with-python-dataframe-api/38743477
def find_median(values_list):
    try:
        median = np.median(values_list) #get the median of values in a list in each row
        return round(float(median),2)
    except Exception:
        return None #if there is anything wrong with the given values

median_finder = F.udf(find_median,FloatType())

In [39]:
ddfa = ddf.groupBy('session_id').agg(F.collect_list('delta_seg').alias('deltas'))
ddfa.show()

+--------------------+--------------------+
|          session_id|              deltas|
+--------------------+--------------------+
|session_31_ae59b3...|[0.0, 8.765, 25.3...|
+--------------------+--------------------+

In [40]:
ddfa = ddfa.withColumn("median",median_finder("deltas")) 
ddfa.show()

+--------------------+--------------------+------+
|          session_id|              deltas|median|
+--------------------+--------------------+------+
|session_31_ae59b3...|[0.0, 8.765, 25.3...|401.46|
+--------------------+--------------------+------+

<b>Hipótese 3</b>, usando a função percentile_approx. Parecido com o método 1, porém, dentro da expressao SQL.

In [41]:
spark.sql("""
with t1 as (--
    SELECT  delta_seg                
    FROM clickstream
    where session_id = 'session_31_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc'
    group by  delta_seg
    order by  delta_seg
--
), t2 as (--
    SELECT count( delta_seg)/2 central
    FROM clickstream
    where session_id = 'session_31_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc' --
)
select session_id, percentile_approx(delta_seg , 0.5) median 
 FROM clickstream
group by session_id

""").show(300, False)

+-----------------------------------------------+-------+
|session_id                                     |median |
+-----------------------------------------------+-------+
|session_57_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|0.0    |
|session_11_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|0.0    |
|session_34_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|489.229|
|session_66_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|0.0    |
|session_20_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|0.0    |
|session_18_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|623.82 |
|session_41_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|0.0    |
|session_46_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|253.904|
|session_52_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|0.0    |
|session_68_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|0.0    |
|session_1_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc |0.0    |
|session_62_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|0.0    |
|session_12_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|0.0    |
|session_32_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|334.296|
|session_13_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|0.0    |
|session_47_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|181.096|
|session_56_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|881.044|
|session_6_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc |0.0    |
|session_37_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|320.665|
|session_64_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|258.785|
|session_70_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|0.0    |
|session_2_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc |0.0    |
|session_7_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc |0.0    |
|session_63_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|0.0    |
|session_58_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|0.0    |
|session_29_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|522.083|
|session_39_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|252.87 |
|session_44_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|236.998|
|session_22_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|0.0    |
|session_50_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|192.792|
|session_14_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|0.0    |
|session_28_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|292.64 |
|session_3_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc |0.0    |
|session_53_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|597.277|
|session_16_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|0.0    |
|session_48_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|0.0    |
|session_61_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|0.0    |
|session_19_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|388.426|
|session_38_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|120.172|
|session_30_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|447.733|
|session_35_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|625.393|
|session_42_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|0.0    |
|session_59_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|597.066|
|session_65_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|0.0    |
|session_51_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|0.0    |
|session_9_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc |0.0    |
|session_54_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|101.489|
|session_49_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|0.0    |
|session_15_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|0.0    |
|session_33_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|0.0    |
|session_55_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|34.974 |
|session_8_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc |0.0    |
|session_36_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|0.0    |
|session_4_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc |0.0    |
|session_45_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|180.271|
|session_60_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|0.0    |
|session_31_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|401.457|
|session_69_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|0.0    |
|session_43_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|0.0    |
|session_5_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc |0.0    |
|session_10_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|0.0    |
|session_26_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|359.115|
|session_24_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|0.0    |
|session_23_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|0.0    |
|session_67_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|687.878|
|session_71_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|0.0    |
|session_25_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|207.617|
|session_17_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|0.0    |
|session_27_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|0.0    |
|session_21_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|0.0    |
|session_40_ae59b395-31ac-40e3-b7c0-3d97d00ac6cc|0.0    |
+-----------------------------------------------+-------+

Escolha da <b>Hipótese 3</b> e reuso parcial da query do desafio 2. Considerando somente as sessões abertas

In [42]:
df_question_3 = spark.sql("""
with table_temp as (--
    SELECT *
    FROM clickstream
    where same_section = true
), 
table_union as (--
    SELECT 'device_family' what, device_family ref, percentile_approx(delta_seg , 0.5) median   
      FROM table_temp
     group by device_family
    union
    SELECT 'os_family' what, os_family ref, percentile_approx(delta_seg , 0.5) median 
      FROM table_temp
    group by os_family
    union
    SELECT 'browser_family' what, browser_family ref, percentile_approx(delta_seg , 0.5) median 
      FROM table_temp
     group by browser_family --
),
table_collection as (--
    select what, ref || ':' || median collection 
    from table_union
    order by what, ref--
)
select what, array_join(collect_list(trim(collection)),',')  collection
from table_collection
group by what
""")

In [43]:
dados3 = df_question_3.toPandas()

In [44]:
dados3.head()

             what                     collection
0   device_family                 Spider:403.976
1       os_family  Android:564.582,Other:360.042
2  browser_family              Googlebot:403.976

In [45]:
question3 = {}
for index, row in dados3.iterrows():
    items = row["collection"].split(',')
    
    if not row["what"] in question3:
        question3[row["what"]] = {}

    for item in items:
        element = str(item).split(':')

        if not element[0] in question3[row["what"]]:
            question3[row["what"]][element[0]] = 0


        if len(element) > 1:
            question3[row["what"]][element[0]] = np.median([ float(element[1]), question3[row["what"]][element[0]] ])
        else:
            question3[row["what"]][element[0]] = question3[row["what"]][element[0]]

        
print(question3)

{'device_family': {'Spider': 201.988}, 'os_family': {'Android': 282.291, 'Other': 180.021}, 'browser_family': {'Googlebot': 201.988}}